:root {
	--max-width: 1600px;
	--gutter-width: 1rem;
	--outer-margin: 1rem;
}

* {
	box-sizing: border-box;
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-right: var(--outer-margin);
	padding-left: var(--outer-margin);
}

.container-fixed {
	max-width: var(--max-width);
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.col {
	display: flex;
	flex: 1;
	flex-direction: column;
	padding-right: calc(var(--gutter-width) * 0.5);
	padding-left: calc(var(--gutter-width) * 0.5);
}

.is-1 {
	flex-basis: 8.333%;
	max-width: 8.333%;
}

.is-2 {
	flex-basis: 16.667%;
	max-width: 16.667%;
}

.is-3 {
	flex-basis: 25%;
	max-width: 25%;
}

.is-4 {
	flex-basis: 33.333%;
	max-width: 33.333%;
}

.is-5 {
	flex-basis: 41.667%;
	max-width: 41.667%;
}


.is-6 {
	flex-basis: 50%;
	max-width: 50%;
}

.is-7 {
	flex-basis: 58.333%;
	max-width: 58.333%;
}

.is-8 {
	flex-basis: 66.667%;
	max-width: 66.667%;
}

.is-9 {
	flex-basis: 75%;
	max-width: 75%;
}

.is-10 {
	flex-basis: 83.333%;
	max-width: 83.333%;
}

.is-11 {
	flex-basis: 91.667%;
	max-width: 91.667%;
}

.is-12 {
	flex-basis: 100%;
	max-width: 100%;
}

.is-pushed-1 {
	margin-left: 8.333%;
}

.is-pushed-2 {
	margin-left: 16.666%;
}

.is-pushed-3 {
	margin-left: 25%;
}

.is-pushed-4 {
	margin-left: 33.333%;
}

.is-pushed-5 {
	margin-left: 41.667%;
}

.is-pushed-6 {
	margin-left: 50%;
}

.is-pushed-7 {
	margin-left: 58.333%;
}

.is-pushed-8 {
	margin-left: 66.667%;
}

.is-pushed-9 {
	margin-left: 75%;
}

.is-pushed-10 {
	margin-left: 83.333%;
}

.is-pushed-11 {
	margin-left: 91.667%;
}